body{
    margin:0px 40px;
}
.header{
    display: flex;
    justify-content: space-between;

    .logo{
        height:90px;

        img{
            height:100%;
            width:100%;
        }
    }

    .nav, .menu{
        display: flex;
        justify-content: flex-end;
        margin: 2px;
    }
    .navMenu{
        display: flex;
        margin: 2%;
        //justify-content: space-around;
    }

    .headerNavItems{
        margin: 0 2%;
        justify-content: flex-end;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 40px;
    }
    .headerMenuIcons{
        margin: 10px 5px;
        justify-content: flex-end;
        font-size: 24px;
       // margin-top: 10px;
    }

    .headerMenuCountry{
        height:50px;
        border-left: 1px solid #e2e2e2;
        img{
            height:70%;
            width:70%;
            align-self: center;
        }
        display: flex;
        padding-left: 7px;
    }
}

.preHeaderMsg, .postFooter{
    text-align: center;
}

